{{>navigation1}}
{{>message}} 


<div class="main">
    <!--====== CONTACT ONE PART START ======-->
<section class="contact-area">
   <div class="container">
      <div class="contact-form form-style-four mt-15" >
            <p class="h1">Asignar Servicio a Cliente</p>
                {{#each Servicio}}
               <form action="./{{id}}" method="POST" enctype="multipart/form-data">
               {{/each}}
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-input mt-15">
                           <label>Id del Servicio</label>
                           <div class="input-items default">
                              <i class="lni lni-user"></i>
                              {{#each Servicio}}
                              <input type="text" id="ID" name="ID" placeholder="{{id}}" disabled/>
                              {{/each}}
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                    
                    <div class="col-md-6">
                        <div class="form-input mt-15">
                           <label>Servicio</label>
                           <div class="input-items default">
                              <i class="lni lni-envelope"></i>
                              {{#each Servicio}}
                              <input type="text" id="nombre" name="nombre" placeholder="{{nombre}}" disabled />
                              {{/each}}
                           </div>
                        </div>
                        <!-- form input -->
                     </div>

                     <div class="col-md-4">
                        <div class="form-input mt-15">
                           <label>Estado Actual del servicio</label>
                           <div class="input-items default">
                              <i class="lni lni-envelope"></i>
                              {{#each Servicio}}
                              <input type="text" id="estado" name="estado" placeholder="{{estado}}" disabled />
                              {{/each}}
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-6">
                        <div class="form-input mt-15">
                           <label>Eliga Cliente</label>
                           <div class="input-items default">
                              
                              <select class="form-select" name="cliente" id="cliente" aria-label="Default select example" required>
                                    {{#each Personas}}
                                    <option value="{{username}}">{{username}}</option>
                                    {{/each}}
                                </select>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>

                     <div class="col-md-12">
                        <div class="form-input mt-15">
                           <label>Comentarios</label>
                           <div class="input-items default">
                              <i class="lni lni-pencil-alt"></i>
                              <textarea
                                    name="description"
                                 placeholder="Comentarios sobre la Orden"
                                 ></textarea>
                           </div>
                        </div>                         
                        <!-- form input -->
                     </div>

                     <div class="col-md-12">
                        <div class="single-form mt-15">
                           <div class="input-form rounded-buttons">
                              <button
                                 class="btn primary-btn rounded-full"
                                 type="submit"
                                 >
                              Asignar a Servicio
                              </button>
                           </div>
                        </div>
                        <!-- single form -->
                     </div>


                  </div>
                  <!-- row -->
               </form>
            </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== CONTACT ONE PART ENDS ======-->
</div>
