{{>navigation1}}
{{>message}} 


<div class="main">
    <div class="container my-5">
        <div class="card text-center">
            <div class="card-body">
                <a>Asignar Servicio a Cliente</a>
                <form action="/panelA/Asignar" method="POST" class="row g-3 novalidate was-validated"  novalidate>
                    <div class="col-md-4">
                        <label for="ServiD" class="form-label">Id del Servicio</label>
                        <input type="text" value="{{valores.id}}" class="form-control" id="ServiD" name="ServiD" placeholder="{{valores.id}}" >
                        <div class="invalid-feedback">
                            Entrega el ID del servicio a conectar!
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Servicio</label>
                        <input type="text" value="{{valores.nombre}}" class="form-control" id="nombre" name="nombre" placeholder="{{valores.nombre}}" >
                        <div class="invalid-feedback">
                            Entrega el nombre del servicio!
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="estado" class="form-label">Estado Actual del servicio</label>
                        <input type="text" value="{{valores.estado}}" class="form-control" id="estado" name="estado" placeholder="{{valores.estado}}" >
                        <div class="invalid-feedback">
                            Entrega el estado actual del servicio!
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="cliente" class="form-label">Seleccione Cliente</label>
                        <select id="cliente" name="cliente" class="form-select" aria-label="Disabled select example">
                           {{#each Personas}}
                              <option value="{{username}}">{{username}}</option>
                           {{/each}}
                        </select>
                    </div>

                    <div class="col-12">
                        <label for="description" class="form-label">Comentarios</label>
                        <textarea class="form-control" value="" id="description" name="description" rows="3" ></textarea>
                    </div>
                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar Datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>