{{>navigation1}}
{{>message}}

{{!-- {{Dashboard}} --}}

<div class="main">
    {{!-- {{Division por Regiones}} --}}
    <div class="row">
        <div class="container text-center">
            <div class="card">
                {{!-- {{al interior de la tarjeta}} --}}
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            {{#each Smetropolitana}}
                            <h1 style="text-align:center">{{cantidad}}</h1>
                            {{/each}}
                        </div>
                        <div class="row">
                            <h5 style="text-align:center">Servicios Disponibles</h5>
                        </div>
                        <div class="row">
                            <i style="text-align:center" class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <div class="row">
                            {{#each Vmetropolitana}}
                            <h5 style="text-align:center">Valoracion de la Region:{{valoRegion}}</h5>
                            {{/each}}
                        </div>
                        <div class="row">
                            {{#each Cmetropolitana}}
                            <h1 style="text-align:center">{{cantidadProveedores}}</h1>
                            {{/each}}
                        </div>
                        <div class="row">
                            <h5 style="text-align:center">Proveedores</h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h1 style="text-align:center">Region Metropolitana</h1>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5>Ciudades</h5>
                            </div>
                            <div class="col">
                                <h5>Proveedores</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{#each Nmetropolitana}}
                                <h6>{{NAME}}</h6>
                                {{/each}}
                            </div>
                            <div class="col-md-1">
                                {{#each Nmetropolitana}}
                                <h6>{{nro_servicios}}</h6>
                                {{/each}}
                            </div>
                            <div class="col-md-5">
                                {{#each Pmetropolitana}}
                                <h6>{{fullname}}</h6>
                                {{/each}}
                            </div>
                            <div class="col-md-1">
                                {{#each Pmetropolitana}}
                                <h6>{{cantidad_de_servicios}}</h6>
                                {{/each}}
                            </div>
                            <div class="col-md-1">
                                {{#each Pmetropolitana}}
                                <h6>{{promediofinal}}</h6>
                                {{/each}}
                            </div>
                        </div>
                    </div> 
                </div>  
            </div>
        </div>
    </div>
</div>