{{>navigation1}}
{{>message}} 

<div class="main">

{{#if datos}}
    
    <h2>Gestionar Ordenes</h2>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
            <th scope="col">Id servicio</th>
            <th scope="col">Cliente</th>            
            <th scope="col">Proveedor</th>
            <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody>

            {{#each datos}}
                <tr>
                    <th scope="row">{{servicio_id}}</th>
                    <td>{{fullname}}</td>                   
                    <td>{{razon_social}}</td>
                    <td>{{description}}</td>
                </tr>       
            {{/each}}     
            
        </tbody>
    </table>

{{else}}
    <div>No Hay datos</div>

{{/if}}

</div>