{{>navigation1}}
{{>message}} 

<div class="main" style="max-width: 50em;">
    

{{#if datos}}
    
    <h2 class="text-center">Gestionar Ordenes</h2>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
            <th scope="col">Id servicio</th>
            <th scope="col">Cliente</th>            
            <th scope="col">Proveedor</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de inicio</th>
            </tr>
        </thead>
        <tbody>

            {{#each datos}}
                <tr>
                    <th scope="row">{{servicio_id}}</th>
                    <td>{{fullname}}</td>                   
                    <td>{{razon_social}}</td>
                    <td>{{description}}</td>
                    <td>{{date}}</td>
                </tr>       
            {{/each}}     
            
        </tbody>
    </table>

{{else}}
    <div class="container"></div>
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay ordenes existentes</p>
                <i class="fa-solid fa-ghost fa-4x"></i>
            </div>
        </div>

{{/if}}

</div>