{{>navigation1}}
{{>message}} 


<div class="main" style="max-width: 50em;">
    
    {{#if prov}}
    <h2 class="text-center">Solicitudes para ser proveedor</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each prov}}
   <div class="col">
    <div class="card h-100">
      <img src="/img/perfil.png" class="card-img-top" alt="..." style="width: 300px; height: 300px; margin-left:55px ;margin-top:20px;margin-bottom:10px;">
      <div class="card-body">
        <h5 class="card-title">Empresa: {{empresanombre }}</h5>
            
            <p class="card-text">Nombre de Contacto: {{contactonombre}}</p>
            <p class="card-text">Número de Contacto: {{numero}}</p>
            <p class="card-text">Ubicación: {{ubicacion}}</p>
            <p class="card-text">Tipo: {{tipo}}</p>
      </div>
      <div class="card-footer">
        <div class="row">
            <form action="/panelA/nuevosproveedores" method="POST" class="row g-3 novalidate was-validated"  novalidate>
                <div class="col">
                    <input id="VALid" name="VALid" type="hidden" value="{{id}}">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Borrar</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  
    {{/each}}
    </div>
    {{else}}
    <div class="container"></div>
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay nuevos interesados.</p>
                <i class="fa-solid fa-user fa-4x"></i>
            </div>
        </div>
    {{/if}}

</div>
