{{>navigation1}}
{{>message}} 



<div class="main" style="max-width: 50em;">
    
    {{#if datos}}
    <h2 class="text-center">Asignacion de Ordenes a Clientes.</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      <img src="https://img.freepik.com/vector-gratis/vehiculo-excavadora-trabajando_1308-41657.jpg?w=2000" class="card-img-top rounded mx-auto d-block" alt="..." style="width: 300px; height: 300px;">
      <div class="card-body">
        <h5 class="text-center card-title">Nombre: {{nombre }}</h5>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Marca: {{marca}}</li>
              <li class="list-group-item">Año: {{ano}}</li>
              <li class="list-group-item">Modelo: {{modelo}}</li>
              <li class="list-group-item">Horometro: {{horometro}}</li>
              <li class="list-group-item">Operador: {{operador}}</li>
              <li class="list-group-item">Estado: {{estado}}</li>
              <li class="list-group-item">Categoría: {{categoria}}</li>
              <li class="list-group-item">Descripción: {{description}}</li>
            </ul> 

      </div>
      <div class="card-footer">
        <div class="row">
            <a href="/panelA/Asignar/{{id}}">
                <button type="submit" class="btn btn-success">Asignar a cliente</button>
            </a>
        </div>
      </div>
    </div>
  </div>
  
    {{/each}}
    </div>
    {{else}}
    <h1>No hay servicios aprobados por algun administrador</h1>
    {{/if}}

</div>
