{{>navigation1}}
{{>message}}

<div class="main" style="max-width: 50em;">
    {{#if datos}}
    <h1 class="text-center">Lista proveedores</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-2 mb-5" >
    {{#each datos}}    
    
    <div class="card" >
  <img src="https://cdn-icons-png.flaticon.com/512/993/993891.png" class="mt-2 card-img-top rounded mx-auto d-block" alt="..." style="width : 300px">
  <div class="card-body">
    <h5 class="card-title text-center">Razón Social : {{razon_social}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Rut: {{rut}}</li>
    <li class="list-group-item">Ubicación: {{ubicacion}}</li>
    <li class="list-group-item">Fono:{{fono}}</li>
  </ul>
 
</div>

    {{/each}}
    </div>
    {{else}}
    <h1>No hay datos</h1>
    {{/if}}
</div>