{{>navigation1}}
{{>message}} 


<div class="main">
    <div class="card mb-3 mt-3 caja2">
    <div class="row">
        <div class="col">
            <h3 class="ms-2">Filtros</h3> 
        </div>
        </div>
            <div class="row ms-2 ">
            <form action="/panelA/servicios" method="POST" class="row g-3 novalidate">

                <div class="col-md-6">
                    <label for="region" class="form-label das">Regiones</label>
                    <select onchange="mostrar()" id="region" class="form-select" name="region" aria-label="Default select example">
                        <option selected>---</option>
                        {{#each regiones}}
                        <option id="{{name}}" value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="ciudad" class="form-label das">Ciudades</label>
                    <select class="form-select" name="ciudad" aria-label="Default select example">
                        <option selected>---</option>
                        {{#each ciudades}}
                        <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="operador" class="form-label das">Operador?</label>
                    <select class="form-select" name="operador" aria-label="Default select example">
                        <option selected>---</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="cat" class="form-label das">Categoria</label>
                    <select class="form-select" name="cat" aria-label="Default select example">
                        <option selected>---</option>
                        {{#each categoria}}
                        <option value="{{nombre}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>


                
                
                <input id="VALid" name="VALid" type="hidden" value="{{VAL.id}}">

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">                        
                    
                            <button type="submit" class="btn btn-success mb-2 float-right">Filtrar</button>
                        
                    
                    
                </div>
                
            </form>
        </div>           
    </div>
    {{#if datos}}
    <h2 class="text-center">Solicitudes Aprobadas</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      <img src="{{foto}}" class="card-img-top rounded mx-auto d-block" alt="..." style="width: 300px; height: 300px;">
      <div class="card-body">
        <h5 class="card-title text-center">Nombre: {{nombre }}</h5>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Proveedor: {{fullname}}</li>
              <li class="list-group-item">Marca: {{marca}}</li>
              <li class="list-group-item">Año: {{ano}}</li>
              <li class="list-group-item">Modelo: {{modelo}}</li>
              <li class="list-group-item">Horometro: {{horometro}}</li>
              <li class="list-group-item">Operador: {{operador}}</li>
              <li class="list-group-item">Estado: {{estado}}</li>
              <li class="list-group-item">Categoría: {{categoria}}</li>
              <li class="list-group-item">Descripción: {{description}}</li>
              
            </ul> 

      </div>
        
      <div class="card-footer">
        <div class="row">
            <div class="col">
                <form action="/panelA/ServicioaDetalle" method="POST" class="row g-3 novalidate was-validated"  novalidate>
                  <input id="id" name="id" type="hidden" value="{{id_servicio}}">
                  
                  <div class="col-md-6">
                      <button type="submit" class="btn btn-success">Detalles</button>
                  </div>
                </form>
                </div>


            <div class="col">
             <button class="btn btn-danger" value={{id}} onclick='baja(this)'>Dar de baja</button>
            </div>
            
        </div>
      </div>
    </div>
  </div>


  
  
    {{/each}}
    </div>
    {{else}}
    <div class="container"></div>
    <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
            <p>No tenemos los servicios que buscas</p>
            <i class="fa-solid fa-ghost fa-4x"></i>
        </div>
    </div>
    
    {{/if}}
    {{#each valor}}
    <h1>{{servicio_id}}</h1>
    {{/each}}


</div>


<script>

    const baja = async(boton) => {
      const id = boton.value   

      const data = {
        'id' : id
      }

      await fetch('./baja',{
        method : 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Connection': 'keep-alive',
            'Accept': '*/*',
        },
        body :JSON.stringify(data)
        
    })
    .then(resp => resp.json())
    .then(()=>{
      window.location.reload()
    })



    }


  // Initial Ratings
    const ratings = {
      General4: 4.7,
      Operador4: 3.4,
      Puntualidad4: 2.3,
      Experiencia4: 3.6,
      Fallas4: 4.1,
      EstadoMaquina4: 1.5
    }
    // Total Stars
    const starsTotal = 5;

    // Run getRatings when DOM loads
    document.addEventListener('DOMContentLoaded', getRatings);

    // Form Elements
    const productSelect = document.getElementById('product-select');
    const ratingControl = document.getElementById('rating-control');

    // Init product
    let product;

    // Product select change
    productSelect.addEventListener('change', (e) => {
      product = e.target.value;
      // Enable rating control
      ratingControl.disabled = false;
      ratingControl.value = ratings[product];
    });

    // Rating control change
    ratingControl.addEventListener('blur', (e) => {
      const rating = e.target.value;

      // Make sure 5 or under
      if (rating > 5) {
        alert('Please rate 1 - 5');
        return;
      }

      // Change rating
      ratings[product] = rating;

      getRatings();
    });

    // Tomamos los ratings
    function getRatings() {

      for (let rating in ratings) {
        // Tomamos el Porcentage (para saber cuanto porcentaje rellenamos las estrellas de un 0% a 100%)
        const starPercentage = (ratings[rating] / starsTotal) * 100;

        // Round to nearest 10 (lo redondea a estrella entera o x la mitad)
        const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

        // Set width of stars-inner to percentage
        document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;

        // Add number rating
        document.querySelector(`.${rating} .number-rating`).innerHTML = ratings[rating];
      }
    }

    function hola(){
      console.log("Hola a todos");
    }
</script>
