{{>navigation1}}
{{>message}} 

<div class="main">
    
    {{#if datos}}
    <h2>Solicitudes Aprobadas</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      <img src="https://img.freepik.com/vector-gratis/vehiculo-excavadora-trabajando_1308-41657.jpg?w=2000" class="card-img-top" alt="..." style="width: 300px; height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Nombre: {{nombre }}</h5>
            <p class="card-text">Marca: {{marca}}</p>
            <p class="card-text">Año: {{ano}}</p>
            <p class="card-text">Modelo: {{modelo}}</p>
            <p class="card-text">Horometro: {{horometro}}</p>
            <p class="card-text">Operador: {{operador}}</p>
            <p class="card-text">Estado: {{estado}}</p>
            <p class="card-text">Categoría: {{categoria}}</p>
            <p class="card-text">Descripción: {{description}}</p>
      </div>



      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Categoria</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr class="General{{id}}">
              <td>Calificacion General</td>
              <td>
                <div class="stars-outer">
                  <div class="stars-inner"></div>
                </div>
                <span class="number-rating"></span>
              </td>
            </tr>
            <tr class="Operador{{id}}">
              <td>Operador</td>
              <td>
                <div class="stars-outer">
                  <div class="stars-inner"></div>
                </div>
                <span class="number-rating"></span>
              </td>
            </tr>
            <tr class="Puntualidad{{id}}">
              <td>Puntualidad</td>
              <td>
                <div class="stars-outer">
                  <div class="stars-inner"></div>
                </div>
                <span class="number-rating"></span>
              </td>
            </tr>
            <tr class="Experiencia{{id}}">
              <td>Experiencia</td>
              <td>
                <div class="stars-outer">
                  <div class="stars-inner"></div>
                </div>
                <span class="number-rating"></span>
              </td>
            </tr>
            <tr class="Fallas{{id}}">
              <td>Fallas</td>
              <td>
                <div class="stars-outer">
                  <div class="stars-inner"></div>
                </div>
                <span class="number-rating"></span>
              </td>
            </tr>
            <tr class="EstadoMaquina{{id}}">
              <td>Estado Maquina</td>
              <td>
                <div class="stars-outer">
                  <div class="stars-inner"></div>
                </div>
                <span class="number-rating"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



      
        
      <div class="card-footer">
        <div class="row">
            
            <div class="col">
             <button class="btn btn-danger" value={{id}} onclick='baja(this)'>Dar de baja</button>
            </div>
            

            </div>
      </div>
    </div>
  </div>


  
  
    {{/each}}
    </div>
    {{else}}
    <h1>No hay servicios aprobados por algun administrador</h1>
    {{/if}}
    {{#each valor}}
    <h1>{{servicio_id}}</h1>
    {{/each}}


</div>


<script>

    const baja = async(boton) => {
      const id = boton.value   

      const data = {
        'id' : id
      }

      await fetch('./baja',{
        method : 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Connection': 'keep-alive',
            'Accept': '*/*',
        },
        body :JSON.stringify(data)
        
    })
    .then(resp => resp.json())
    .then(data => console.log(data))



    }


  // Initial Ratings
    const ratings = {
      General4: 4.7,
      Operador4: 3.4,
      Puntualidad4: 2.3,
      Experiencia4: 3.6,
      Fallas4: 4.1,
      EstadoMaquina4: 1.5
    }
    // Total Stars
    const starsTotal = 5;

    // Run getRatings when DOM loads
    document.addEventListener('DOMContentLoaded', getRatings);

    // Form Elements
    const productSelect = document.getElementById('product-select');
    const ratingControl = document.getElementById('rating-control');

    // Init product
    let product;

    // Product select change
    productSelect.addEventListener('change', (e) => {
      product = e.target.value;
      // Enable rating control
      ratingControl.disabled = false;
      ratingControl.value = ratings[product];
    });

    // Rating control change
    ratingControl.addEventListener('blur', (e) => {
      const rating = e.target.value;

      // Make sure 5 or under
      if (rating > 5) {
        alert('Please rate 1 - 5');
        return;
      }

      // Change rating
      ratings[product] = rating;

      getRatings();
    });

    // Tomamos los ratings
    function getRatings() {

      for (let rating in ratings) {
        // Tomamos el Porcentage (para saber cuanto porcentaje rellenamos las estrellas de un 0% a 100%)
        const starPercentage = (ratings[rating] / starsTotal) * 100;

        // Round to nearest 10 (lo redondea a estrella entera o x la mitad)
        const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

        // Set width of stars-inner to percentage
        document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;

        // Add number rating
        document.querySelector(`.${rating} .number-rating`).innerHTML = ratings[rating];
      }
    }

    function hola(){
      console.log("Hola a todos");
    }
</script>
