{{>navigation1}}
{{>message}} 

<div class="main" style="max-width: 50em;">
    
    {{#if datos}}
    <h2 class="text-center">Solicitudes</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      <img src="https://img.freepik.com/vector-gratis/vehiculo-excavadora-trabajando_1308-41657.jpg?w=2000" class="card-img-top" alt="..." style="width: 300px; height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Nombre: {{nombre }}</h5>
            
            <p class="card-text">Marca: {{marca}}</p>
            <p class="card-text">Año: {{ano}}</p>
            <p class="card-text">Modelo: {{modelo}}</p>
            <p class="card-text">Horometro: {{horometro}}</p>
            <p class="card-text">Operador: {{operador}}</p>
            <p class="card-text">Estado: {{estado}}</p>
            <p class="card-text">Categoría: {{categoria}}</p>
            <p class="card-text">Descripción: {{description}}</p>
      </div>
      <div class="card-footer">
        <div class="row">
            <div class="col">
             <button class="btn btn-primary" value={{id}} onclick = 'aceptar(this)'>Aceptar</button>
            </div>

            <div class="col">
             <button class="btn btn-danger" value={{id}} onclick = 'rechazar(this)'>Rechazar</button>
            </div>
            

            </div>
      </div>
    </div>
  </div>
  
    {{/each}}
    </div>
    {{else}}
    <h1>No tienes servicios disponibles</h1>
    {{/if}}

</div>

<script>

const aceptar = async(boton) => {

    const id = boton.value   

    const data = {
      'id' : id
    }
    

    //console.log("Me apretaste");
    await fetch('./aprobar',{
        method : 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Connection': 'keep-alive',
            'Accept': '*/*',
        },
        body :JSON.stringify(data)
        
    })
    .then(resp => resp.json())
    .then((data)=> {
      console.log(data)
      window.location.reload();
    })
}

const rechazar = async(boton) => {

    const id = boton.value   

    const data = {
      'id' : id
    }
    

    //console.log("Me apretaste");
    await fetch('./rechazar',{
        method : 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Connection': 'keep-alive',
            'Accept': '*/*',
        },
        body :JSON.stringify(data)
        
    })
    .then(resp => resp.json())
    .then((data)=> {
      console.log(data)
      window.location.reload();
    })
}

</script>