{{>navigation2}}
{{>message}}


<div class="main">
    
    {{#if datos}}
    <h2>Servicios</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="max-width: 50em;">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      {{#if foto}}        
        <img src='https://images.vexels.com/media/users/3/141641/isolated/preview/be2272518dde9b2679d862528e90f001-maquinaria-de-excavacion-excavadora.png' class="card-img-top rounded mx-auto d-block" alt="..." style="width: 300px; height: 300px;">
      {{/if}}
      
      <div class="card-body">
        <h6 class="card-title" >Estado publicación: {{estado_publicacion }}</h6>
        <h5 class="card-title">Nombre: {{nombre }}</h5>
        
            <p class="card-text">Marca: {{marca}}</p>
            <p class="card-text">Año: {{ano}}</p>
            <p class="card-text">Modelo: {{modelo}}</p>
            <p class="card-text">Horometro: {{horometro}}</p>
            <p class="card-text">Operador: {{operador}}</p>
            <p class="card-text">Estado: {{estado}}</p>
            <p class="card-text">Categoría: {{categoria}}</p>
            <p class="card-text">Descripción: {{description}}</p>
      </div>
      <div class="card-footer">
        <div class="row">
            
            <div class="col">
             <button class="btn btn-danger"  value={{id}} onclick = 'baja(this)'>Archivar</button>
            </div>          
            <div class="col">
              <form action="/panelP/misservicios" method="POST" class="row g-3 novalidate was-validated"  novalidate>
                <div class="col">
                    <input id="VALid" name="VALid" type="hidden" value="{{id}}">
                    <input id="nombre" name="nombre" type="hidden" value="{{nombre}}">
                    <input id="marca" name="marca" type="hidden" value="{{marca}}">
                    <input id="modelo" name="modelo" type="hidden" value="{{modelo}}">
                    <input id="ano" name="ano" type="hidden" value="{{ano}}">
                    <input id="horometro" name="horometro" type="hidden" value="{{horometro}}">
                    <input id="operador" name="operador" type="hidden" value="{{operador}}">
                    <input id="region" name="region" type="hidden" value="{{region}}">
                    <input id="ciudades" name="ciudades" type="hidden" value="{{ciudades}}">
                    <input id="estado" name="estado" type="hidden" value="{{estado}}">
                    <input id="categoria" name="categoria" type="hidden" value="{{categoria}}">
                    <input id="description" name="description" type="hidden" value="{{description}}">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </div>
                </div>
            </form>  
            </div>             

            </div>
      </div>
    </div>
  </div>
  
    {{/each}}
    </div>
    {{else}}
    <h1>No tienes servicios disponibles</h1>
    {{/if}}

</div>

<script>

       const pintar = () => {
        console.log("pintar")
       }

        const baja = async (boton) => {
          
          const id = boton.value  
          
          const data = {
            'id' : id
          }

          await fetch('./baja',{
          method : 'POST',
          headers: {
              'Content-Type': 'application/json',
              'Connection': 'keep-alive',
              'Accept': '*/*',
          },
          body :JSON.stringify(data)
          
          })
          .then(resp => resp.json())
          .then(()=> {
            window.location.reload();
          })
        }

</script>