{{>navigation2}}
{{>message}}


<div class="main">
    
    {{#if datos}}
    <h2>Servicios</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      <img src={{foto}} class="card-img-top" alt="..." style="width: 300px; height: 300px;">
      <div class="card-body">
        <h6 class="card-title" >Estado publicación: <h6 id = "estado_publicacion" value = {{estado_publicacion}}>{{estado_publicacion }}</h6></h6>
        <h5 class="card-title">Nombre: {{nombre }}</h5>
            <p class="card-text">Marca: {{marca}}</p>
            <p class="card-text">Año: {{ano}}</p>
            <p class="card-text">Modelo: {{modelo}}</p>
            <p class="card-text">Horometro: {{horometro}}</p>
            <p class="card-text">Operador: {{operador}}</p>
            <p class="card-text">Región: {{region}}</p>
            <p class="card-text">Ciudades: {{ciudades}}</p>
            <p class="card-text">Estado: {{estado}}</p>
            <p class="card-text">Categoría: {{categoria}}</p>
            <p class="card-text">Descripción: {{description}}</p>
      </div>
      <div class="card-footer">
        <div class="row">
            
            <div class="col">
             <button class="btn btn-danger">Dar de baja</button>
            </div>            

            </div>
      </div>
    </div>
  </div>
  
    {{/each}}
    </div>
    {{else}}
    <h1>No tienes servicios disponibles</h1>
    {{/if}}

</div>

<script>

        window.onload = function pintar() {
            const h6 = document.getElementById('estado_publicacion')

            if(h6.innerText == 'aprobado'){
              h6.style.color = 'green';
            }
            else if (h6.innerText == 'rechazado'){
              h6.style.color = 'red';
            }
            else{
              h6.style.color = '#999999';
            }
            

            //console.log(h6);
        }

</script>