{{>navigation2}}
{{>message}}


<div class="main">
    
    {{#if datos}}
    <h2>Servicios</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      {{#if foto}}
        
        {{!-- <img src='https://images.vexels.com/media/users/3/141641/isolated/preview/be2272518dde9b2679d862528e90f001-maquinaria-de-excavacion-excavadora.png' class="card-img-top rounded mx-auto d-block" alt="..." style="width: 300px; height: 300px;"> --}}
        <img src='{{foto}}' class="card-img-top rounded mx-auto d-block mt-2" alt="..." style="width: 300px; height: 300px;">

        
      {{/if}}
      
      <div class="card-body">
        <h5 class="card-title">Nombre: {{nombre }}</h5>
            <p class="card-text">Marca: {{marca}}</p>
            <p class="card-text">Año: {{ano}}</p>
            <p class="card-text">Modelo: {{modelo}}</p>
            <p class="card-text">Horometro: {{horometro}}</p>
            <p class="card-text">Operador: {{operador}}</p>           
            <p class="card-text">Estado: {{estado}}</p>
            <p class="card-text">Categoría: {{categoria}}</p>
            <p class="card-text">Descripción: {{description}}</p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <form action="/panelP/misserviciosA" method="POST" class="row g-3 novalidate was-validated"  novalidate>
              <input id="VALid" name="VALid" type="hidden" value="{{id}}">
              <div class="col-12">
                <button type="submit" class="btn btn-success">Activar</button>
              </div>
            </form>
            
          </div>          
          <div class="col">
            <form action="/panelP/misservicios" method="POST" class="row g-3 novalidate was-validated"  novalidate>
              <div class="col">
                <input id="VALid" name="VALid" type="hidden" value="{{id}}">
                <input id="nombre" name="nombre" type="hidden" value="{{nombre}}">
                <input id="marca" name="marca" type="hidden" value="{{marca}}">
                <input id="modelo" name="modelo" type="hidden" value="{{modelo}}">
                <input id="ano" name="ano" type="hidden" value="{{ano}}">
                <input id="horometro" name="horometro" type="hidden" value="{{horometro}}">
                <input id="operador" name="operador" type="hidden" value="{{operador}}">
                <input id="region" name="region" type="hidden" value="{{region}}">
                <input id="ciudades" name="ciudades" type="hidden" value="{{ciudades}}">
                <input id="estado" name="estado" type="hidden" value="{{estado}}">
                <input id="categoria" name="categoria" type="hidden" value="{{categoria}}">
                <input id="description" name="description" type="hidden" value="{{description}}">
                <div class="col-12">
                    <button type="submit" class="btn btn-warning">Modificar</button>
                </div>
              </div>
            </form>  
          </div> 
        </div>
          
      </div>
    </div>
  </div>
  
    {{/each}}
    </div>
    {{else}}
    <div class="container"></div>
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No tienes servicios archivados</p>
                <i class="fa-solid fa-ghost fa-4x"></i>
            </div>
        </div>
    {{/if}}

</div>
