{{>navigation2}}
{{>message}}


<div class="main">
    
    {{#if datos}}
    <h2>Servicios</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      {{#if foto}}
        
        <img src='https://images.vexels.com/media/users/3/141641/isolated/preview/be2272518dde9b2679d862528e90f001-maquinaria-de-excavacion-excavadora.png' class="card-img-top rounded mx-auto d-block" alt="..." style="width: 300px; height: 300px;">
      
        
      {{/if}}
      
      <div class="card-body">
        <h5 class="card-title">Nombre: {{nombre }}</h5>
            <p class="card-text">Marca: {{marca}}</p>
            <p class="card-text">Año: {{ano}}</p>
            <p class="card-text">Modelo: {{modelo}}</p>
            <p class="card-text">Horometro: {{horometro}}</p>
            <p class="card-text">Operador: {{operador}}</p>           
            <p class="card-text">Estado: {{estado}}</p>
            <p class="card-text">Categoría: {{categoria}}</p>
            <p class="card-text">Descripción: {{description}}</p>
      </div>
      <div class="card-footer">
        <div class="row">           
                     <h6 class="card-title" >Estado publicación: {{estado_publicacion }}</h6>

            </div>
      </div>
    </div>
  </div>
  
    {{/each}}
    </div>
    {{else}}
    <div class="container"></div>
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No tienes servicios archivados</p>
                <i class="fa-solid fa-ghost fa-4x"></i>
            </div>
        </div>
    {{/if}}

</div>
