<div>
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col">
                    <h4>Filtros</h4> 
                </div>
            </div>
            <div class="row">
                <form action="/Cliente/Evaluar" method="POST" class="row g-3 novalidate was-validated">

                    <div class="col-md-4">
                        <label for="region" class="form-label das">Región</label>
                        <select onchange="mostrar()" id="region" class="form-select" name="region" aria-label="Default select example">
                            {{#each regiones}}
                            <option id="{{name}}" value="{{name}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{#each tarapaca}}
                    <h1>{{name}}</h1>
                    {{/each}}
                    <div class="col-md-4">
                        <label for="ciudad" class="form-label das">Ciudad</label>
                        <select class="form-select" name="ciudad" aria-label="Default select example">
                            {{#if arica}}
                            <option id="{{id_region}}"  value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if tarapaca}}
                            {{#each tarapaca}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/each}}
                            {{/if}}
                            {{#if antofagasta}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if atacama}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if coquimbo}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if valparaiso}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if metropolitana}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if bernardo}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if maule}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if ñuble}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                            {{#if biobio}}
                            <option id="{{id_region}}" value="{{id_city}}">{{name}}</option>
                            {{/if}}
                        </select>
                    </div>


                    
                    
                    <input id="VALid" name="VALid" type="hidden" value="{{VAL.id}}">

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar Evaluación</button>
                    </div>
                </form>
            </div>
           
        </div>
        
    </div>
    {{#if datos}}
    <h2>Solicitudes Aprobadas</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each datos}}
   <div class="col">
    <div class="card h-100">
      <img src="https://img.freepik.com/vector-gratis/vehiculo-excavadora-trabajando_1308-41657.jpg?w=2000" class="card-img-top" alt="..." style="width: 300px; height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Nombre: {{nombre }}</h5>
            <p class="card-text">Marca: {{marca}}</p>
            <p class="card-text">Año: {{ano}}</p>
            <p class="card-text">Modelo: {{modelo}}</p>
            <p class="card-text">Horómetro: {{horometro}}</p>
            <p class="card-text">Operador: {{operador}}</p>
            <p class="card-text">Estado: {{estado}}</p>
            <p class="card-text">Categoría: {{categoria}}</p>
            <p class="card-text">Descripción: {{description}}</p>
      </div>
        
      <div class="card-footer">
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">Ver Detalles</button>
            </div>
        </div>
      </div>
    </div>
  </div>


  
  
    {{/each}}
    </div>
    {{else}}
    <h1>No hay servicios aprobados por algun administrador</h1>
    {{/if}}
    {{#each valor}}
    <h1>{{servicio_id}}</h1>
    {{/each}}


</div>


<script>
    async function mostrar() {
        //console.log("Cambio ahora")
        var eleccion = document.getElementById("region")
        console.log(eleccion.value)
        const data = {
        'region' : eleccion.value
        }
        await fetch('./servicios2',{
        method : 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Connection': 'keep-alive',
            'Accept': '*/*',
        },
        body :JSON.stringify(data)
        
    })
    }
</script>
